In [1]:
### Importing libraries

In [2]:
import pandas as pd
import numpy as np

# What is Final Data ?
## final_data is a merged files of all the given CSV files after dropping columns which cointains null values more then 50% and null values imputation based on skewdness of data We are also sharing CSV file in which we made this final_data file

In [3]:
final_data = pd.read_csv("D:\Desktop\AIF_Data\created_data\AIF_Final_File_new.csv")

In [4]:
final_data.shape

(188678, 169)

# Now What list1 cointains  ?
### This are the Final 48 variable we selected not for final model but we sorted this final 48 variables based on following criteria
### 1) Business domain 
### 2) IV of all variables
### 3) VIF 
### 4) Null Values

In [5]:
list1 = ["SK_ID_CURR" , "TARGET",
"OCCUPATION_TYPE",
"ORGANIZATION_TYPE",
"NAME_INCOME_TYPE",
"NAME_EDUCATION_TYPE",
"NAME_HOUSING_TYPE",
"FLAG_OWN_CAR",
"FLAG_OWN_REALTY",
"REGION_RATING_CLIENT_W_CITY",
"FLAG_CONT_MOBILE",
"DAYS_BIRTH",
"CNT_CHILDREN",
"DAYS_LAST_PHONE_CHANGE",
"DAYS_EMPLOYED",
"AMT_INCOME_TOTAL",
"AMT_REQ_CREDIT_BUREAU_MON",
"TARGET",
"DEF_60_CNT_SOCIAL_CIRCLE",
"FLAG_DOCUMENT_3",
"REG_CITY_NOT_WORK_CITY",
"ORGANIZATION_TYPE",
"SK_ID_CURR",
"SK_ID_BUREAU",
"CREDIT_ACTIVE",
"CREDIT_TYPE",
"DAYS_CREDIT",
"DAYS_CREDIT_UPDATE",
"AMT_CREDIT_SUM_DEBT",
"CNT_CREDIT_PROLONG",
"AMT_CREDIT_SUM_OVERDUE",
"DAYS_CREDIT_ENDDATE","SK_ID_BUREAU",
"STATUS",
"SK_ID_CURR",
"NAME_CONTRACT_STATUS",
"AMT_CREDIT_LIMIT_ACTUAL",
"AMT_TOTAL_RECEIVABLE",
"AMT_PAYMENT_TOTAL_CURRENT",
"SK_ID_CURR",
"NUM_INSTALMENT_NUMBER",     
"NUM_INSTALMENT_VERSION","SK_ID_CURR",
"CODE_REJECT_REASON",
"NAME_GOODS_CATEGORY",
"NAME_PORTFOLIO",
"NAME_CASH_LOAN_PURPOSE",
"NAME_PAYMENT_TYPE",
"NAME_CLIENT_TYPE",
"NAME_CONTRACT_STATUS",
"AMT_APPLICATION"]

In [6]:
final_data = final_data[set(list1)]

In [7]:
final_data.shape

(188678, 43)

In [8]:
final_data.shape

(188678, 43)

### Calculating VIF for final_data 48 variables 
### Seperating categorical and Numerical Variables

In [9]:
X = final_data.select_dtypes(exclude=['object'])

In [10]:
from statsmodels.stats.outliers_influence import variance_inflation_factor 

# VIF dataframe 
vif_data = pd.DataFrame() 
vif_data["feature"] = X.columns
  
# calculating VIF for each feature 
vif_data["VIF"] = [variance_inflation_factor(X.values, i) 
                          for i in range(len(X.columns))] 
  
print(vif_data)

                        feature         VIF
0                 DAYS_EMPLOYED    2.127670
1                    DAYS_BIRTH   27.074799
2     AMT_PAYMENT_TOTAL_CURRENT    1.101685
3                   DAYS_CREDIT    6.237632
4                  CNT_CHILDREN    1.524949
5      DEF_60_CNT_SOCIAL_CIRCLE    1.079058
6               FLAG_DOCUMENT_3    4.009037
7            CNT_CREDIT_PROLONG    1.014065
8                    SK_ID_CURR    8.232932
9              AMT_INCOME_TOTAL    1.376435
10                 SK_ID_BUREAU  102.617607
11             FLAG_CONT_MOBILE  144.930244
12    AMT_REQ_CREDIT_BUREAU_MON    1.106076
13       REG_CITY_NOT_WORK_CITY    1.397361
14       DAYS_LAST_PHONE_CHANGE    2.563467
15          DAYS_CREDIT_ENDDATE    1.110489
16          AMT_CREDIT_SUM_DEBT    1.036195
17        NUM_INSTALMENT_NUMBER    1.519582
18       AMT_CREDIT_SUM_OVERDUE    1.000243
19                       TARGET    1.103712
20         AMT_TOTAL_RECEIVABLE    1.630774
21       NUM_INSTALMENT_VERSION    2.698950
22  REGION_RATING_CLIENT_W_CITY   17.853195
23              AMT_APPLICATION    1.387255
24      AMT_CREDIT_LIMIT_ACTUAL    2.299982
25           DAYS_CREDIT_UPDATE    3.315491

### Taking columns based on VIF less than 5

In [11]:
nf = vif_data[vif_data["VIF"] < 5]

In [12]:
nf["feature"]

0                 DAYS_EMPLOYED
2     AMT_PAYMENT_TOTAL_CURRENT
4                  CNT_CHILDREN
5      DEF_60_CNT_SOCIAL_CIRCLE
6               FLAG_DOCUMENT_3
7            CNT_CREDIT_PROLONG
9              AMT_INCOME_TOTAL
12    AMT_REQ_CREDIT_BUREAU_MON
13       REG_CITY_NOT_WORK_CITY
14       DAYS_LAST_PHONE_CHANGE
15          DAYS_CREDIT_ENDDATE
16          AMT_CREDIT_SUM_DEBT
17        NUM_INSTALMENT_NUMBER
18       AMT_CREDIT_SUM_OVERDUE
19                       TARGET
20         AMT_TOTAL_RECEIVABLE
21       NUM_INSTALMENT_VERSION
23              AMT_APPLICATION
24      AMT_CREDIT_LIMIT_ACTUAL
25           DAYS_CREDIT_UPDATE
Name: feature, dtype: object

In [13]:
final_data.shape

(188678, 43)

In [14]:
X_cat = final_data.select_dtypes(include=['object'])

In [15]:
X_cat

,NAME_CONTRACT_STATUS,NAME_GOODS_CATEGORY,STATUS,NAME_PAYMENT_TYPE,NAME_CASH_LOAN_PURPOSE,NAME_PORTFOLIO,NAME_HOUSING_TYPE,NAME_INCOME_TYPE,FLAG_OWN_CAR,ORGANIZATION_TYPE,NAME_CLIENT_TYPE,OCCUPATION_TYPE,CREDIT_ACTIVE,CODE_REJECT_REASON,NAME_EDUCATION_TYPE,CREDIT_TYPE,FLAG_OWN_REALTY
0,Active,Vehicles,C,XNA,XAP,POS,House / apartment,Working,N,Business Entity Type 3,New,Laborers,Closed,XAP,Secondary / secondary special,Credit card,Y
1,Active,XNA,C,XNA,XNA,Cash,House / apartment,State servant,N,School,Repeater,Core staff,Closed,XAP,Higher education,Consumer credit,N
2,Active,Mobile,C,Cash through the bank,XAP,POS,House / apartment,Working,Y,Government,New,Laborers,Closed,XAP,Secondary / secondary special,Consumer credit,Y
3,Active,Consumer Electronics,C,Cash through the bank,XAP,POS,House / apartment,State servant,N,Other,Repeater,Laborers,Closed,XAP,Secondary / secondary special,Consumer credit,Y
4,Active,Consumer Electronics,C,Cash through the bank,XAP,POS,House / apartment,Commercial associate,Y,Business Entity Type 3,Repeater,Accountants,Closed,XAP,Higher education,Consumer credit,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188673,Active,Mobile,C,Cash through the bank,XAP,POS,House / apartment,Commercial associate,N,Medicine,New,Medicine staff,Closed,XAP,Secondary / secondary special,Consumer credit,Y
188674,Active,Jewelry,C,Cash through the bank,XAP,POS,House / apartment,Commercial associate,N,Bank,Repeater,Core staff,Closed,XAP,Higher education,Consumer credit,Y
188675,Active,Computers,C,Cash through the bank,XAP,POS,House / apartment,Pensioner,N,XNA,Repeater,Laborers,Closed,HC,Secondary / secondary special,Consumer credit,Y
188676,Active,Mobile,C,Cash through the bank,XAP,POS,House / apartment,Working,N,School,Refreshed,Managers,Closed,XAP,Higher education,Consumer credit,Y
188677,Active,Furniture,C,Cash through the bank,XAP,POS,House / apartment,Commercial associate,N,Business Entity Type 3,Refreshed,Laborers,Closed,XAP,Higher education,Consumer credit,N

In [16]:
categorical = X_cat

### Doing Chi-square test for categorical Variable

In [17]:
from scipy.stats import chi2_contingency


categorical_columns=list(categorical.columns)
chi2_check = []
for i in categorical_columns:
    if chi2_contingency(pd.crosstab(final_data["TARGET"], final_data[i]))[1] < 0.05:
        chi2_check.append('Reject Null Hypothesis')
    else:
        chi2_check.append('Fail to Reject Null Hypothesis')
res = pd.DataFrame(data = [categorical_columns, chi2_check] 
             ).T 
res.columns = ['Column', 'Hypothesis']
print(res)

                    Column                      Hypothesis
0     NAME_CONTRACT_STATUS          Reject Null Hypothesis
1      NAME_GOODS_CATEGORY          Reject Null Hypothesis
2                   STATUS          Reject Null Hypothesis
3        NAME_PAYMENT_TYPE          Reject Null Hypothesis
4   NAME_CASH_LOAN_PURPOSE          Reject Null Hypothesis
5           NAME_PORTFOLIO          Reject Null Hypothesis
6        NAME_HOUSING_TYPE          Reject Null Hypothesis
7         NAME_INCOME_TYPE          Reject Null Hypothesis
8             FLAG_OWN_CAR          Reject Null Hypothesis
9        ORGANIZATION_TYPE          Reject Null Hypothesis
10        NAME_CLIENT_TYPE          Reject Null Hypothesis
11         OCCUPATION_TYPE          Reject Null Hypothesis
12           CREDIT_ACTIVE          Reject Null Hypothesis
13      CODE_REJECT_REASON          Reject Null Hypothesis
14     NAME_EDUCATION_TYPE          Reject Null Hypothesis
15             CREDIT_TYPE          Reject Null Hypothesis
16         FLAG_OWN_REALTY  Fail to Reject Null Hypothesis

# Now what this 27 variable consist ?

## Based on VIF we selected variables which are less than 5 
## Now we took few variables which had VIF greater than 5 because according to business domain we can't skip those variables as they were important 
## We did same for categorical Variable varibles which were important were selected from 16 categorical variables

In [18]:
final_data_final = final_data[['SK_ID_CURR',"TARGET",
"FLAG_OWN_REALTY",
"ORGANIZATION_TYPE",
"STATUS",
"OCCUPATION_TYPE",
 "DAYS_CREDIT",
 "REGION_RATING_CLIENT_W_CITY",
 "AMT_CREDIT_LIMIT_ACTUAL",
 "DAYS_BIRTH",
"DAYS_CREDIT_UPDATE",
"AMT_CREDIT_SUM_DEBT",
"AMT_INCOME_TOTAL",
"AMT_PAYMENT_TOTAL_CURRENT",
"CNT_CREDIT_PROLONG",
"FLAG_DOCUMENT_3",
"NUM_INSTALMENT_NUMBER",
"REG_CITY_NOT_WORK_CITY",
"DAYS_EMPLOYED",
"CNT_CHILDREN",
"DAYS_CREDIT_ENDDATE",
"DEF_60_CNT_SOCIAL_CIRCLE",
"AMT_REQ_CREDIT_BUREAU_MON",
"AMT_APPLICATION",
"DAYS_LAST_PHONE_CHANGE",
"AMT_TOTAL_RECEIVABLE",
"AMT_CREDIT_SUM_OVERDUE",
"NUM_INSTALMENT_VERSION"]]

In [19]:
final_data_final.shape

(188678, 28)

In [20]:
final_data_final.select_dtypes(include=['object']).columns

Index(['FLAG_OWN_REALTY', 'ORGANIZATION_TYPE', 'STATUS', 'OCCUPATION_TYPE'], dtype='object')

In [21]:
X1 =  final_data_final

### Now we will resample the data for target = 1 as they were less in number compare to 0.
### Now why we need this ?
### If we don't do resampling then our model accuracy goes to 92% as Target 0 were around 80% of total and this creates bias in data
### Making both target 0 and 1 equal ensures that there is equal probability of chossing a target`

In [22]:
from sklearn.utils import resample

df_majority=final_data_final[final_data_final.TARGET==0]
df_minority=final_data_final[final_data_final.TARGET==1]

# upsample minority class
df_final_upsampled=resample(df_minority,replace=True,n_samples=243123,random_state=42)

# combine majority class with minority upsampled class

df_new=pd.concat([df_majority,df_final_upsampled])
df_new.TARGET.value_counts()

1    243123
0    174046
Name: TARGET, dtype: int64

In [23]:
df_new.columns

Index(['SK_ID_CURR', 'TARGET', 'FLAG_OWN_REALTY', 'ORGANIZATION_TYPE',
       'STATUS', 'OCCUPATION_TYPE', 'DAYS_CREDIT',
       'REGION_RATING_CLIENT_W_CITY', 'AMT_CREDIT_LIMIT_ACTUAL', 'DAYS_BIRTH',
       'DAYS_CREDIT_UPDATE', 'AMT_CREDIT_SUM_DEBT', 'AMT_INCOME_TOTAL',
       'AMT_PAYMENT_TOTAL_CURRENT', 'CNT_CREDIT_PROLONG', 'FLAG_DOCUMENT_3',
       'NUM_INSTALMENT_NUMBER', 'REG_CITY_NOT_WORK_CITY', 'DAYS_EMPLOYED',
       'CNT_CHILDREN', 'DAYS_CREDIT_ENDDATE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_APPLICATION',
       'DAYS_LAST_PHONE_CHANGE', 'AMT_TOTAL_RECEIVABLE',
       'AMT_CREDIT_SUM_OVERDUE', 'NUM_INSTALMENT_VERSION'],
      dtype='object')

#### Encoding  for Categorical variable

In [24]:
One_hot =pd.get_dummies(df_new.select_dtypes(include=['object']),columns=['FLAG_OWN_REALTY', 'ORGANIZATION_TYPE', 'STATUS', 'OCCUPATION_TYPE'] ,drop_first=True)
#df_one_hot = pd.concat([df_post_multcol.iloc[0:,0:8],One_hot] , axis=1)
#df_one_hot.drop(['Origin'] , axis=1 , inplace =True)
#df_one_hot

## concating the categorical and numerical after encoding categorical Variable

In [25]:
df_one_hot = pd.concat([df_new.select_dtypes(exclude=['object']),One_hot] , axis=1)
df_one_hot

,SK_ID_CURR,TARGET,DAYS_CREDIT,REGION_RATING_CLIENT_W_CITY,AMT_CREDIT_LIMIT_ACTUAL,DAYS_BIRTH,DAYS_CREDIT_UPDATE,AMT_CREDIT_SUM_DEBT,AMT_INCOME_TOTAL,AMT_PAYMENT_TOTAL_CURRENT,...,OCCUPATION_TYPE_Laborers,OCCUPATION_TYPE_Low-skill Laborers,OCCUPATION_TYPE_Managers,OCCUPATION_TYPE_Medicine staff,OCCUPATION_TYPE_Private service staff,OCCUPATION_TYPE_Realty agents,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Secretaries,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff
1,100003,0,-2586,1,45000.0,-16765,-2131,0.0,270000.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,-1326,2,45000.0,-19046,-682,0.0,67500.0,0.0,...,1,0,0,0,0,0,0,0,0,0
3,100008,0,-1097,2,45000.0,-16941,-1027,0.0,99000.0,0.0,...,1,0,0,0,0,0,0,0,0,0
4,100009,0,-1259,2,45000.0,-13778,-983,0.0,171000.0,0.0,...,0,0,0,0,0,0,0,0,0,0
5,100011,0,-2508,2,180000.0,-20099,-2172,0.0,112500.0,9000.0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101259,290962,1,-228,3,45000.0,-15138,-13,0.0,113400.0,0.0,...,1,0,0,0,0,0,0,0,0,0
123981,334219,1,-784,2,45000.0,-8986,-427,0.0,247500.0,0.0,...,1,0,0,0,0,0,0,0,0,0
21772,140977,1,-859,2,45000.0,-11481,-36,0.0,216000.0,0.0,...,0,0,0,0,0,0,1,0,0,0
63993,220798,1,-1797,2,90000.0,-18527,-1432,0.0,180000.0,0.0,...,1,0,0,0,0,0,0,0,0,0
123776,333847,1,-1032,2,45000.0,-24340,-316,0.0,112500.0,0.0,...,1,0,0,0,0,0,0,0,0,0

In [26]:
#One_hot

In [27]:
df_one_hot.shape

(417169, 105)

In [28]:
df_one_hot.TARGET.value_counts()

1    243123
0    174046
Name: TARGET, dtype: int64

### Importing train test split library from Sk-learn

In [29]:
from sklearn.model_selection import train_test_split
X= df_one_hot.drop(['TARGET'],axis=1)
y=df_one_hot['TARGET']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

## Checking the shape of train split files

In [30]:
print("X_train shape : ",X_train.shape)
print("y_train shape : ",y_train.shape)
print("X_test shape : ",X_test.shape)
print("y_test shape : ",y_test.shape)

X_train shape :  (333735, 104)
y_train shape :  (333735,)
X_test shape :  (83434, 104)
y_test shape :  (83434,)

In [31]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
dfscale_train_x = scaler.fit_transform(X_train)

print("X_train_scale : ",dfscale_train_x.shape)

X_train_scale :  (333735, 104)

In [32]:
dfscale_train_x

array([[ 1.71562427,  0.91230389, -0.18205344, ..., -0.06226814,
        -0.16000632, -0.0704454 ],
       [-0.34062338, -0.11463155,  1.82500275, ..., -0.06226814,
        -0.16000632, -0.0704454 ],
       [-0.77163589, -0.00196206, -0.18205344, ..., -0.06226814,
        -0.16000632, -0.0704454 ],
       ...,
       [ 0.90212042, -1.4079834 , -0.18205344, ..., -0.06226814,
        -0.16000632, -0.0704454 ],
       [ 1.19932475,  0.76794611, -0.18205344, ..., -0.06226814,
        -0.16000632, -0.0704454 ],
       [ 0.70396472,  0.71513229, -0.18205344, ..., -0.06226814,
        -0.16000632, -0.0704454 ]])

## Imporiting LogisticRegression from sklearn

In [33]:
from sklearn.linear_model import LogisticRegression

from mlxtend.feature_selection import SequentialFeatureSelector as sfs

reg = LogisticRegression(max_iter=1000,fit_intercept=False)
reg.fit(dfscale_train_x,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=False,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [34]:
from sklearn.feature_selection import RFE

predictors=dfscale_train_x
selector=RFE(reg,n_features_to_select=10,step=5)
selector=selector.fit(predictors,y_train)

In [35]:
order=selector.ranking_
feature_ranks=[]
for i in order:
    feature_ranks.append(f"{i}.{df_one_hot.columns[i]}")
    
feature_ranks

['13.REG_CITY_NOT_WORK_CITY',
 '1.TARGET',
 '1.TARGET',
 '3.REGION_RATING_CLIENT_W_CITY',
 '1.TARGET',
 '20.DAYS_LAST_PHONE_CHANGE',
 '9.AMT_PAYMENT_TOTAL_CURRENT',
 '10.CNT_CREDIT_PROLONG',
 '8.AMT_INCOME_TOTAL',
 '14.DAYS_EMPLOYED',
 '1.TARGET',
 '11.FLAG_DOCUMENT_3',
 '3.REGION_RATING_CLIENT_W_CITY',
 '1.TARGET',
 '11.FLAG_DOCUMENT_3',
 '6.DAYS_CREDIT_UPDATE',
 '2.DAYS_CREDIT',
 '15.CNT_CHILDREN',
 '14.DAYS_EMPLOYED',
 '1.TARGET',
 '1.TARGET',
 '4.AMT_CREDIT_LIMIT_ACTUAL',
 '6.DAYS_CREDIT_UPDATE',
 '12.NUM_INSTALMENT_NUMBER',
 '6.DAYS_CREDIT_UPDATE',
 '5.DAYS_BIRTH',
 '17.DEF_60_CNT_SOCIAL_CIRCLE',
 '17.DEF_60_CNT_SOCIAL_CIRCLE',
 '5.DAYS_BIRTH',
 '19.AMT_APPLICATION',
 '4.AMT_CREDIT_LIMIT_ACTUAL',
 '16.DAYS_CREDIT_ENDDATE',
 '13.REG_CITY_NOT_WORK_CITY',
 '13.REG_CITY_NOT_WORK_CITY',
 '11.FLAG_DOCUMENT_3',
 '11.FLAG_DOCUMENT_3',
 '16.DAYS_CREDIT_ENDDATE',
 '7.AMT_CREDIT_SUM_DEBT',
 '19.AMT_APPLICATION',
 '16.DAYS_CREDIT_ENDDATE',
 '7.AMT_CREDIT_SUM_DEBT',
 '18.AMT_REQ_CREDIT_BUREAU_MON',
 '19.AMT_APPLICATION',
 '7.AMT_CREDIT_SUM_DEBT',
 '18.AMT_REQ_CREDIT_BUREAU_MON',
 '15.CNT_CHILDREN',
 '14.DAYS_EMPLOYED',
 '17.DEF_60_CNT_SOCIAL_CIRCLE',
 '15.CNT_CHILDREN',
 '8.AMT_INCOME_TOTAL',
 '16.DAYS_CREDIT_ENDDATE',
 '18.AMT_REQ_CREDIT_BUREAU_MON',
 '17.DEF_60_CNT_SOCIAL_CIRCLE',
 '14.DAYS_EMPLOYED',
 '5.DAYS_BIRTH',
 '20.DAYS_LAST_PHONE_CHANGE',
 '13.REG_CITY_NOT_WORK_CITY',
 '9.AMT_PAYMENT_TOTAL_CURRENT',
 '8.AMT_INCOME_TOTAL',
 '7.AMT_CREDIT_SUM_DEBT',
 '16.DAYS_CREDIT_ENDDATE',
 '8.AMT_INCOME_TOTAL',
 '10.CNT_CREDIT_PROLONG',
 '17.DEF_60_CNT_SOCIAL_CIRCLE',
 '10.CNT_CREDIT_PROLONG',
 '4.AMT_CREDIT_LIMIT_ACTUAL',
 '13.REG_CITY_NOT_WORK_CITY',
 '12.NUM_INSTALMENT_NUMBER',
 '19.AMT_APPLICATION',
 '9.AMT_PAYMENT_TOTAL_CURRENT',
 '6.DAYS_CREDIT_UPDATE',
 '14.DAYS_EMPLOYED',
 '11.FLAG_DOCUMENT_3',
 '12.NUM_INSTALMENT_NUMBER',
 '18.AMT_REQ_CREDIT_BUREAU_MON',
 '10.CNT_CREDIT_PROLONG',
 '18.AMT_REQ_CREDIT_BUREAU_MON',
 '7.AMT_CREDIT_SUM_DEBT',
 '6.DAYS_CREDIT_UPDATE',
 '12.NUM_INSTALMENT_NUMBER',
 '1.TARGET',
 '20.DAYS_LAST_PHONE_CHANGE',
 '1.TARGET',
 '10.CNT_CREDIT_PROLONG',
 '20.DAYS_LAST_PHONE_CHANGE',
 '19.AMT_APPLICATION',
 '20.DAYS_LAST_PHONE_CHANGE',
 '3.REGION_RATING_CLIENT_W_CITY',
 '3.REGION_RATING_CLIENT_W_CITY',
 '8.AMT_INCOME_TOTAL',
 '2.DAYS_CREDIT',
 '15.CNT_CHILDREN',
 '5.DAYS_BIRTH',
 '12.NUM_INSTALMENT_NUMBER',
 '1.TARGET',
 '2.DAYS_CREDIT',
 '4.AMT_CREDIT_LIMIT_ACTUAL',
 '4.AMT_CREDIT_LIMIT_ACTUAL',
 '9.AMT_PAYMENT_TOTAL_CURRENT',
 '15.CNT_CHILDREN',
 '2.DAYS_CREDIT',
 '9.AMT_PAYMENT_TOTAL_CURRENT',
 '3.REGION_RATING_CLIENT_W_CITY',
 '5.DAYS_BIRTH']

In [36]:
unique_features=[]
unique = [x for x in feature_ranks if x not in unique_features and (unique_features.append(x) or True)]

In [37]:
unique_features

['13.REG_CITY_NOT_WORK_CITY',
 '1.TARGET',
 '3.REGION_RATING_CLIENT_W_CITY',
 '20.DAYS_LAST_PHONE_CHANGE',
 '9.AMT_PAYMENT_TOTAL_CURRENT',
 '10.CNT_CREDIT_PROLONG',
 '8.AMT_INCOME_TOTAL',
 '14.DAYS_EMPLOYED',
 '11.FLAG_DOCUMENT_3',
 '6.DAYS_CREDIT_UPDATE',
 '2.DAYS_CREDIT',
 '15.CNT_CHILDREN',
 '4.AMT_CREDIT_LIMIT_ACTUAL',
 '12.NUM_INSTALMENT_NUMBER',
 '5.DAYS_BIRTH',
 '17.DEF_60_CNT_SOCIAL_CIRCLE',
 '19.AMT_APPLICATION',
 '16.DAYS_CREDIT_ENDDATE',
 '7.AMT_CREDIT_SUM_DEBT',
 '18.AMT_REQ_CREDIT_BUREAU_MON']

In [38]:
# selected important features in Xtrain 
df_imp_features_X_train=X_train[['SK_ID_CURR','DAYS_CREDIT','REGION_RATING_CLIENT_W_CITY','NUM_INSTALMENT_NUMBER','DAYS_CREDIT_UPDATE',
 'DEF_60_CNT_SOCIAL_CIRCLE','AMT_CREDIT_SUM_DEBT','DAYS_CREDIT_ENDDATE','CNT_CHILDREN','AMT_CREDIT_LIMIT_ACTUAL',
 'CNT_CREDIT_PROLONG','AMT_INCOME_TOTAL','REG_CITY_NOT_WORK_CITY','DAYS_LAST_PHONE_CHANGE','AMT_PAYMENT_TOTAL_CURRENT',
 'DAYS_EMPLOYED','AMT_APPLICATION','AMT_REQ_CREDIT_BUREAU_MON','AMT_TOTAL_RECEIVABLE','DAYS_BIRTH','FLAG_DOCUMENT_3']]

In [39]:
df_imp_features_X_train.shape

(333735, 21)

In [40]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
dfscale_train_x_imp = scaler.fit_transform(df_imp_features_X_train)

print("X_train_scale : ",dfscale_train_x_imp.shape)

X_train_scale :  (333735, 21)

In [41]:
from sklearn.linear_model import LogisticRegression
# Call LR classifier
LR_reg = LogisticRegression(random_state=42,max_iter=1000)
# Train LR classifier
LR_reg.fit(dfscale_train_x_imp, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=42, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [42]:
from sklearn.model_selection import cross_val_score
LRAccuracy=cross_val_score(LR_reg,dfscale_train_x_imp, y_train,cv=5, scoring="accuracy")
LRAccuracy

array([0.61843978, 0.6162674 , 0.61629736, 0.61628238, 0.62043238])

# Checking the accuracy of model

In [43]:
import numpy as np
round(np.mean(LRAccuracy),3)

0.618

# Confusion Matrix

In [44]:
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix,classification_report
y_train_pred_LR = cross_val_predict(LR_reg,dfscale_train_x_imp, y_train, cv=5)
print(classification_report(y_train, y_train_pred_LR))

              precision    recall  f1-score   support

           0       0.57      0.34      0.42    139191
           1       0.63      0.82      0.71    194544

    accuracy                           0.62    333735
   macro avg       0.60      0.58      0.57    333735
weighted avg       0.61      0.62      0.59    333735

In [45]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.linear_model import LogisticRegression
np.random.seed(42)
estimatorLR = LogisticRegression()
paramslinear = {'solver':['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga'],'penalty':['l2', 'l1', 'elasticnet','none'],'max_iter':list(range(10,1000,10)),'C':np.logspace(-4,4,20)}
best_result = RandomizedSearchCV(estimatorLR, paramslinear, cv=5, scoring='accuracy')
best_result.fit(dfscale_train_x_imp, y_train)
print("Best params_: ",best_result.best_params_)
print("Best_score: ",best_result.best_score_)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\ProgramData\Anaconda3\lib\site-packages\scipy\optimize\linesearch.py:314: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\optimize.py:204: UserWarning: Line Search failed
  warnings.warn('Line Search failed')
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\ProgramData\Anaconda3\lib\site-packages\scipy\optimize\linesearch.py:314: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\optimize.py:204: UserWarning: Line Search failed
  warnings.warn('Line Search failed')
C:\ProgramData\Anaconda3\lib\site-packages\scipy\optimize\linesearch.py:426: LineSearchWarning: Rounding errors prevent the line search from converging
  warn(msg, LineSearchWarning)
C:\ProgramData\Anaconda3\lib\site-packages\scipy\optimize\linesearch.py:314: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\optimize.py:204: UserWarning: Line Search failed
  warnings.warn('Line Search failed')
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver newton-cg supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver newton-cg supports only 'l2' or 'none' penalties, got elasticnet penalty.

  FitFailedWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: l1_ratio must be between 0 and 1; got (l1_ratio=None)

  FitFailedWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver newton-cg supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)

Best params_:  {'solver': 'sag', 'penalty': 'l2', 'max_iter': 100, 'C': 0.23357214690901212}
Best_score:  0.6175468560384736

In [46]:
from sklearn.linear_model import LogisticRegression
# Call LR classifier
LR_reg_finetune = LogisticRegression(penalty='none', max_iter=270,C=10000,random_state=42)
# Train LR classifier
LR_reg_finetune.fit(dfscale_train_x_imp, y_train)
from sklearn.model_selection import cross_val_score
LR_Accuracy=cross_val_score(LR_reg_finetune,dfscale_train_x_imp, y_train, cv=5, scoring="accuracy")
print(LR_Accuracy)
print("LR Classifier Accuracy(mean of 5 accuracy) After Fine :",round(np.mean(LR_Accuracy),3))
LogisticReg_Accuracy1=round(np.mean(LR_Accuracy),3)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "

[0.61840982 0.6162674  0.61629736 0.61628238 0.62043238]
LR Classifier Accuracy(mean of 5 accuracy) After Fine : 0.618

In [47]:
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix
y_train_pred_LR_ = cross_val_predict(LR_reg_finetune,dfscale_train_x_imp,y_train, cv=5)
confusion_matrix(y_train, y_train_pred_LR_)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "

array([[ 46982,  92209],
       [ 35432, 159112]], dtype=int64)

### Modeling with test data

In [48]:
# Apply same selected features on to the Xtest

df_imp_features_X_test=X_test[['SK_ID_CURR','DAYS_CREDIT','REGION_RATING_CLIENT_W_CITY','NUM_INSTALMENT_NUMBER','DAYS_CREDIT_UPDATE',
 'DEF_60_CNT_SOCIAL_CIRCLE','AMT_CREDIT_SUM_DEBT','DAYS_CREDIT_ENDDATE','CNT_CHILDREN','AMT_CREDIT_LIMIT_ACTUAL',
 'CNT_CREDIT_PROLONG','AMT_INCOME_TOTAL','REG_CITY_NOT_WORK_CITY','DAYS_LAST_PHONE_CHANGE','AMT_PAYMENT_TOTAL_CURRENT',
 'DAYS_EMPLOYED','AMT_APPLICATION','AMT_REQ_CREDIT_BUREAU_MON','AMT_TOTAL_RECEIVABLE','DAYS_BIRTH','FLAG_DOCUMENT_3']]

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
dfscale_test_x_imp = scaler.fit_transform(df_imp_features_X_test)

print("X_test_scale : ",dfscale_test_x_imp.shape)

X_test_scale :  (83434, 21)

In [49]:
from sklearn.linear_model import LogisticRegression
# Call LR classifier
LR_reg_test = LogisticRegression(random_state=42)
# Train LR classifier
LR_reg_test.fit(dfscale_test_x_imp, y_test)
from sklearn.model_selection import cross_val_score
LR_testAccuracy=cross_val_score(LR_reg_test,dfscale_test_x_imp, y_test, cv=5, scoring="accuracy")
print(LR_testAccuracy)
print("LR Classifier Accuracy(mean of 5 accuracy) After Fine :",round(np.mean(LR_testAccuracy),3))

[0.61994367 0.62144184 0.62072272 0.61269252 0.62087978]
LR Classifier Accuracy(mean of 5 accuracy) After Fine : 0.619

In [50]:
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix
y_train_pred_LR_ = cross_val_predict(LR_reg_test,dfscale_test_x_imp,y_test, cv=5)
confusion_matrix(y_test, y_train_pred_LR_)

array([[12294, 22561],
       [ 9216, 39363]], dtype=int64)